<?php /** @var $this BView */ ?>
<div class="hero-unit">
    <h1>AtomPark Software</h1>

    <p>Founded in 2001, AtomPark Software, Inc. is an International security and Internet marketing software development
        company. We employ a team of over 30 professionals with advanced degrees from different countries who specialize
        in software development, sales, marketing and support.</p>
</div>
<div class="row">
    <div class="span12">
        <p>We have offices in the United States, Russia, Australia, Ukraine, Spain and Latvia.</p>

        <p>Our US office is located at:<br/>
            901 N. Pitt Str, Suite 325,<br/>
            Alexandria, VA 22314,<br/>
            USA</p>

        <p>The majority of sales transactions are handled by Avangate, a global payment processing and e-commerce
            solution provider.</p>

        <p>AtomPark Software is a Microsoft certified partner. We develop software using licensed Microsoft and Borland
            application development tools for Windows. The company is a proud member of ISDEF (Independent Software
            Developers Forum) - professional association that gathers leading software developers Worldwide.</p>
    </div>
</div>
