<?php /** @var $this BView */ ?>
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1>Successful Partnership</h1>
    <p>AtomPark Softare, Inc offers you to become our partner. <br/> We have several cooperation options so you can choose the one that fits your needs best.</p>
    <p><a class="btn btn-primary btn-large" href="http://www.massmailsoftware.com/affiliate-program.html">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>Reseller Program</h2>
        <p>A perfect solution for companies and indivuduals that are involved with selling software or software-related services.</p>
        <p>Only a few areas that will benefit from our reseller program:</p>
        <ul>
            <li>selling software and installation/support services</li>
            <li>selling services related to marketing (telemarketing, hosting, smtp-servers)</li>
        </ul>
    </div>
    <div class="span4">
        <h2>Our Advantages</h2>
        <ul>
            <li>High reseller discount - starting from 30%(reseller discount can be increased depending on sales volume;</li>
            <li>Information about resellers on our website;</li>
            <li>Training your staff to work with our software;</li>
            <li>Advice on effective approaches to selling software.</li>
        </ul>
        <p>You will be able to issue licenses from your reseller panel. You can also offer related services - remote installation and configuration, training, etc.</p>
    </div>
    <div class="span4">
        <h2>Become a partner</h2>
        <p>We are looking for partners from all over the world. Currently we have partners in the following countries:</p>
        <ul>
            <li>Spain</li>
            <li>Germany</li>
            <li>Italy</li>
            <li>Hungary</li>
            <li>Poland</li>
            <li>Turkey</li>
            <li>Russia</li>
            <li>Ukraine</li>
        </ul>
        <p>Send an email to am@atompark.com to get started!</p>
    </div>
</div>
