<?php /**  @var $this BLayout */ ?>
<?php /** @var $user BUserInterface */ ?>

<?php $this->renderBlock('header.phtml'); ?>

<div class="container">

    <?php if ($this->needLogin || !$user->isLoggedIn()): ?>
    <?php $this->renderBlock('form-login.phtml'); ?>
    <?php endif ?>

    <?php $this->renderBlock('navbar.phtml'); ?>

    <?php echo $content; ?>

    <hr>
    <?php $this->renderBlock('footer.phtml'); ?>

</div> <!-- /container -->

</body>
</html>

<?php d(BApplication::getInstance()->getRegistry()->get('db')); d($GLOBALS) ?>