<?php /**  @var $this BLayout */ ?>

<div class="hero-unit">
    <h1>403 - Forbidden</h1>
    <h2>{URL}</h2>
    <p>You have not enough permission to view this page.</p>
    <p><a class="btn btn-primary btn-large" href="/reseller/">Go to Home Page &raquo;</a></p>
</div>
