<?php /**  @var $this BLayout */ ?>

<div class="hero-unit">
    <h1>404 - Not Found</h1>
    <h2>{URL}</h2>
    <p>We could not find the above page on our servers.</p>
    <p><a class="btn btn-primary btn-large" href="/reseller/">Go to Home Page &raquo;</a></p>
</div>
