<div id="login-modal" class="modal hide" data-backdrop="static">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h4>Welcome to Atomic Reseller Control Panel</h4>
    </div>

    <div class="modal-body">
        <form class="form-horizontal" id="form-login" name="form-login" action="{routerBase}/member/login/" method="post">
            <input type="hidden" id="needLogin" name="needLogin" value="{needLogin}">

            <div class="control-group">
                <label class="control-label" for="login">Login (email)</label>

                <div class="controls">
                    <input type="text" id="login" name="login" placeholder="Email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="password">Password</label>

                <div class="controls">
                    <input type="password" id="password" name="password" placeholder="Password"><br>

                    <p><a href="{routerBase}/member/restore-password/">I forgot my password</a></p>
                    <label class="checkbox">
                        <input type="checkbox" id="remember" name="remember"> Remember me
                    </label>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <small class="pull-left">If you want to become our partner please see <strong><a href="#">this page</a></strong>.</small>
        <button class="btn btn-success" type="submit" form="form-login" id="login-btn" name="login-btn">Sign in</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
</div>
