<?php /**  @var $this BLayout */ ?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Atomic Reseller Control Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/reseller/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/reseller/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/reseller/assets/css/custom-theme/jquery-ui-1.8.16.custom.css" rel="stylesheet">
    <link href="/reseller/assets/css/custom-theme/jquery.ui.1.8.16.ie.css" rel="stylesheet">
<!--    <link href="/reseller/assets/css/smoothness/jquery-ui-1.8.23.custom.css" rel="stylesheet">-->
    <link href="/reseller/assets/css/style.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>

    <!-- for phone and tablet devices -->
    <!--<link href="css/bootstrap-responsive.css" rel="stylesheet">-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="/reseller/assets/js/jquery-1.8.0.min.js"></script>
    <script src="/reseller/assets/js/jquery-ui-1.8.23.custom.min.js"></script>
    <script src="/reseller/assets/js/bootstrap.min.js"></script>
    <script src="/reseller/assets/js/common.js"></script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/reseller/assets/img/favicon.png">
    <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">-->
    <!--<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">-->
</head>
<body>
