<?php /** @var $this BLayout */ ?>
<?php /** @var $user BUserInterface */ ?>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{baseUrl}/">Atomic Reseller</a>

            <div class="btn-group pull-right">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i>&nbsp;
                    <?php echo $user->isLoggedIn() ? $user->getLogin() : 'Guest' ?>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <?php if ($user->isLoggedIn()): ?>
                    <li><a href="{routerBase}/member/profile/"><i class="icon-briefcase"></i>&nbsp;Profile</a></li>
                    <li class="divider"></li>
                    <li><a href="{routerBase}/member/logout/"><i class="icon-off"></i>&nbsp;Sign Out</a></li>
                    <?php else: ?>
                    <li><a id="loginLink" href="#" onclick="return false;"><i class="icon-ok"></i>&nbsp;Sign In</a></li>
                    <?php endif ?>
                </ul>
            </div>

            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="{routerBase}/">Home</a></li>
                    <li><a href="{routerBase}/orders/index/">Orders</a></li>
                    <li><a href="{routerBase}/coupons/index/">Coupons</a></li>
                    <li><a href="{routerBase}/about/">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        // Auto pop-up login dialog and set focus at 'login' field.
        if ($("#needLogin").val() == 1) {
            loginModal();
        }

        $('#loginLink').click(function () {
            loginModal();
        });
    });

</script>
