<?php /** @var $this BView */ ?>

<div class="page-header">
    <h1>Edit order # <?php echo $this->order->order_num; ?></h1>
</div>



<button onclick="history.go(-1)" class="btn pull-right"><i class="icon-backward"></i> Go back</button>

