<?php /** @var $this BView */ ?>

<?php $this->renderBlock('form-filters.phtml') ?>

<?php if (isset($this->collection)): ?>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Order #</th>
        <th>Date</th>
        <th>Customer/Email/Phone</th>
        <th>Sum</th>
        <th>Comments</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        <?php foreach ($this->collection as $row): ?>
        <?php $editLink = $this->baseUrl . '/orders/edit/id/' . $row->order_id . '/'; ?>
    <tr>
        <td><a href="<?php echo $editLink; ?>" title="View order details"><?php echo $row->order_num; ?></a></td>
        <td><?php echo date('d.m.Y', strtotime($row->order_date)); ?></td>
        <td>
            <?php echo $row->user_mail; ?><br>
            <?php echo $row->user_name1 . ' ' . $row->user_name2; ?>
            <?php echo $row->addr_phone ? ", {$row->addr_phone}" : ''; ?>
        </td>
        <td><?php echo $row->sum_base; ?></td>
        <td>
            <?php $comment = trim(mb_convert_encoding($row->Comments, 'UTF-8', 'Windows-1251')); ?>
            <?php if (!empty($comment)): ?>
            <?php echo mb_substr($comment, 0, 25) . '...'; ?>
            <?php endif ?>
        </td>
        <td>
            <a href="#" id="set-notice-<?php echo $row->order_id; ?>" title="Set notification"
               onclick="setNoticeModal('<?php echo $row->order_num; ?>');return false;"><i class="icon-bell"></i></a>&nbsp;&nbsp;&nbsp;
            <a href="#" id="send-keys-<?php echo $row->order_id; ?>" title="Send keys"
               onclick="sendKeys('<?php echo $row->order_num; ?>');return false;"><i class="icon-ok"></i></a>&nbsp;
            <a href="#" id="delete-order-<?php echo $row->order_id; ?>" title="Delete order"
               onclick="deleteOrderModal('<?php echo $row->order_num; ?>');return false;"><i class="icon-remove"></i></a>&nbsp;
            <a href="<?php echo $editLink; ?>" id="edit-order-<?php echo $row->order_id; ?>" title="Edit order"><i class="icon-edit"></i></a>
        </td>
    </tr>
        <?php endforeach ?>
    </tbody>
</table>
{paginator}

<?php $this->renderBlock("delete-order-modal.phtml"); ?>

<?php else: ?>

<div class="alert alert-block alert-info center">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Ouch!</strong> No data found by your request.
</div>
<?php endif ?>

<?php $this->renderBlock("show-notices-modal.phtml"); ?>
