#form-filters {
    margin-bottom: 0;
}

#form-filters #kwd-div {
    margin-left: 6px;
}

#filter-buttons {
    margin-right: 10px;
}

#switch {
    margin: 3px 0 0 6px ;
}

#notices {
    padding: 4px 4px 0 0;
    cursor: pointer;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #e5e5e5;
}

.center {
    text-align: center;
}
