<h2>User Profile</h2>
<dl>
    <dt>Name</dt>
    <dd><?php echo $this->user->FirstName . ' ' . $this->user->LastName; ?></dd>
    <dt>Email</dt>
    <dd><?php echo $this->user->Usermail; ?></dd>
    <dt>Address</dt>
    <dd><?php echo $this->user->Addr; ?></dd>
    <dt>Language</dt>
    <dd><?php echo $this->user->lang; ?></dd>
</dl>
