<?php /** @var $this BView */ ?>

<div id="delete-order-modal" class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h4>Are you sure?</h4>
    </div>
    <div class="modal-body">
        <b>Warning!</b> Do you want to permanently delete the order # <span id="order-to-delete"></span>.
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" id="delete-order-btn">Delete</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#delete-order-btn").click(function () {
            deleteOrder(orderNum);
        });
    });

</script>
