<?php /** @var $this BView */ ?>

<div id="filters" class="well well-small">
    <div id="notices" class="pull-right">
        <span class="badge badge-important" title="You have 3 actual notices"
              onclick="showNotices();return false;"><i class="icon-flag icon-white"></i>&nbsp;3 notices</span>
    </div>

    <div id="filter-buttons" class="pull-left">
        <div class="btn-group">
            <a href="{baseURL}/orders/index/type/unpaid/"
               class="btn <?php echo ($this->type == 'unpaid') ? 'btn-primary' : ''; ?>">Unpaid</a>
            <a href="{baseURL}/orders/index/type/paid/"
               class="btn <?php echo ($this->type == 'paid') ? 'btn-primary' : ''; ?>">Paid</a>
            <a href="{baseURL}/orders/index/type/deleted/"
               class="btn <?php echo ($this->type == 'deleted') ? 'btn-primary' : ''; ?>">Deleted</a>
            <a href="{baseURL}/orders/index/type/canceled/"
               class="btn <?php echo ($this->type == 'canceled') ? 'btn-primary' : ''; ?>">Canceled</a>
        </div>
    </div>

    <div>
        <form id="form-filters" class="form-inline" method="post" action="{filterFormAction}">
            <div class="btn-group input-prepend input-append">
                <span class="add-on"><label for="from">&nbsp;<i class="icon-calendar"></i>&nbsp;</label></span>
                <input type="text" class="input-small" id="from" name="from" placeholder="" value="{dateFrom}">
                <span class="add-on"><label for="till">&nbsp;&mdash;&nbsp;</label></span>
                <input type="text" class="input-small" id="till" name="till" placeholder="" value="{dateTill}">
                <span class="add-on">
                    <label class="checkbox" title="Switch on/off the date range">
                        &nbsp;<input type="checkbox" id="switch"
                                     name="switch" <?php echo $this->switch ? 'checked' : ''; ?>>&nbsp;
                    </label>
                </span>
            </div>
            <div id="kwd-div" class="input-prepend input-append">
                <span class="add-on"><label for="keywords">&nbsp;<i class="icon-search"></i></label>&nbsp;</span>
                <input type="text" class="input-xlarge" id="keywords" name="keywords"
                       placeholder="name, order number, email an so on" value="{keywords}">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        // date range calendar
        {
            var optionsRu = {
                dateFormat:"dd.mm.yy",
                gotoCurrent:true,
                firstDay:1,
                dayNames:["Воскресенье", "Понедельник", "Втроник", "Среда", "Четверг", "Пятница", "Суббота"],
                dayNamesMin:["Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                dayNamesShort:["Вск", "Пнд", "Втр", "Срд", "Чтв", "Птн", "Суб"],
                monthNames:["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
                monthNamesShort:["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
                nextText:"Следующий",
                prevText:"Предыдущий",
                numberOfMonths:2,
                showOtherMonths:true,
                showCurrentAtPos:1
            };
            var optionsEn = {
                //dateFormat:"yy-mm-dd",
                gotoCurrent:true,
                numberOfMonths:2,
                showOtherMonths:true,
                showCurrentAtPos:1
            };

            $("#from").datepicker(optionsEn);
            $("#till").datepicker(optionsEn);
        }


        //  switch date range on document ready
        {
            state = $("#switch").attr("checked") == "checked";
            $("#from").attr('disabled', !state);
            $("#till").attr('disabled', !state);
        }

        // switch date range on click
        $("#switch").click(function () {
            state = this.checked;
            $("#from").attr('disabled', !state);
            $("#till").attr('disabled', !state);
        });

    });
</script>
