<?php /** @var $this BView */ ?>
<?php /** @var $paginator BPaginator */ ?>

<?php if ($paginator->getPagesToShow()): ?>
<div class="pagination  pagination-centered">
    <ul>
        <li><a href="<?php echo $paginator->getFirstPageLink(); ?>">First</a></li>
        <?php if ($paginator->getPrev10Link()): ?>
        <li><a href="<?php echo $paginator->getPrev10Link(); ?>">Prev <?php echo $paginator->getPagesToShow(); ?></a></li>
        <li class="disabled"><a href="#">...</a></li>
        <?php endif ?>

        <?php for ($i = $paginator->getRangeStart(); $i <= $paginator->getRangeEnd(); $i++): ?>
        <li class="<?php echo ($i == $paginator->getCurrentPage()) ? 'active' : ''; ?>">
            <a href="<?php echo $paginator->getPageLink($i); ?>"><?php echo $i; ?></a>
        </li>
        <?php endfor ?>

        <?php if ($paginator->getNext10Link()): ?>
        <li class="disabled"><a href="#">...</a></li>
        <li><a href="<?php echo $paginator->getNext10Link(); ?>">Next <?php echo $paginator->getPagesToShow(); ?></a></li>
        <?php endif ?>
        <li><a href="<?php echo $paginator->getLastPageLink(); ?>">Last</a></li>
    </ul>
</div>
<?php endif ?>
