<?php /** @var $this BView */ ?>

<div id="show-notices-modal" class="modal hide">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
        <h4>Actual notices for <?php echo date('d.m.Y'); ?></h4>
    </div>
    <div class="modal-body">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Order #</th>
                <th>Author</th>
                <th>Date</th>
                <th>Subject</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>95-54434-UA</td>
                <td>Artem</td>
                <td>28.08.2012</td>
                <td>Some important alert here</td>
                <td>
                    <a href="#" id="edit-notice-<?php echo 'num'; ?>" title="Edit notice"
                       onclick="return false;"><i class="icon-edit"></i></a>
                    <a href="#" id="delete-notice-<?php echo 'num'; ?>" title="Delete notice"
                       onclick="return false;"><i class="icon-remove"></i></a>

                </td>
            </tr>
            <tr>
                <td>60-54423-SMS</td>
                <td>Olga</td>
                <td>28.08.2012</td>
                <td>Some important alert here</td>
                <td>
                    <a href="#" id="edit-notice-<?php echo 'num'; ?>" title="Edit notice"
                       onclick="return false;"><i class="icon-edit"></i></a>
                    <a href="#" id="delete-notice-<?php echo 'num'; ?>" title="Delete notice"
                       onclick="return false;"><i class="icon-remove"></i></a>

                </td>
            </tr>
            <tr>
                <td>95-54405</td>
                <td>Admin</td>
                <td>28.08.2012</td>
                <td>Some important alert here</td>
                <td>
                    <a href="#" id="edit-notice-<?php echo 'num'; ?>" title="Edit notice"
                       onclick="return false;"><i class="icon-edit"></i></a>
                    <a href="#" id="delete-notice-<?php echo 'num'; ?>" title="Delete notice"
                       onclick="return false;"><i class="icon-remove"></i></a>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" id="clear-all-notices-btn">Clear all</button>
        <button class="btn" data-dismiss="modal">Close</button>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#clear-all-notices-btn").click(function () {
            clearAllNotices(orderNum);
        });
    });

</script>
